apiVersion: v1
kind: Secret
metadata:
  name: root-app-sshkey
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  type: git
  url: {{ argocd_repo_url }}
  sshPrivateKey: |
    {{ lookup('ansible.builtin.file', argocd_repo_sshkey_path  | expanduser) | indent(4) }}
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: bootstrap
  namespace: argocd
  finalizers:
    - argocd.argoproj.io/resources-finalizer
spec:
  project: default
  source:
    repoURL: {{ argocd_repo_url }}
    targetRevision: {{ argocd_repo_revision }}
    path: {{ argocd_repo_path }}
    directory:
      recurse: false
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - PruneLast=true
