#!/bin/sh

# flannel
helm repo add flannel https://flannel-io.github.io/flannel/
helm upgrade --install flannel flannel/flannel \
  --set podCidr="{{ k8s_pod_network_cidr }}" \
  --wait \
  --timeout 5m \
  --create-namespace \
  --namespace kube-flannel
kubectl label --overwrite ns kube-flannel pod-security.kubernetes.io/enforce=privileged

# csr auto apporver
helm repo add kubelet-csr-approver https://postfinance.github.io/kubelet-csr-approver
helm upgrade --install kubelet-csr-approver kubelet-csr-approver/kubelet-csr-approver \
  --set providerIpPrefixes='{{ k8s_nodes_network }}' \
  --set maxExpirationSeconds='86400' \
  --set bypassDnsResolution='true' \
  --wait \
  --timeout 5m \
  --create-namespace \
  --namespace kube-system

# csi-driver-nfs
helm repo add csi-driver-nfs https://raw.githubusercontent.com/kubernetes-csi/csi-driver-nfs/master/charts
helm install csi-driver-nfs csi-driver-nfs/csi-driver-nfs \
  --set controller.runOnControlPlane=true \
  --set controller.replicas=1 \
  --create-namespace \
  --namespace kube-system

# traefik
kubectl apply --server-side -f https://github.com/kubernetes-sigs/gateway-api/releases/download/v{{ k8s_gw_api_crd | d('1.5.1') }}/standard-install.yaml
helm repo add traefik https://traefik.github.io/charts
helm upgrade --install traefik traefik/traefik \
  -f {{ playbook_dir }}/bootstrap/traefik-values.yaml \
  --skip-crds \
  --wait \
  --timeout 5m \
  --create-namespace \
  --namespace traefik \

# cert-manager
helm upgrade --install \
  cert-manager oci://quay.io/jetstack/charts/cert-manager \
  --set config.apiVersion="controller.config.cert-manager.io/v1alpha1" \
  --set config.kind="ControllerConfiguration" \
  --set config.enableGatewayAPI=true \
  --set crds.enabled=true \
  --wait \
  --timeout 5m \
  --create-namespace \
  --namespace cert-manager

# metrics-server
helm repo add metrics-server https://kubernetes-sigs.github.io/metrics-server/
helm upgrade --install metrics-server metrics-server/metrics-server \
  --wait \
  --timeout 5m \
  --namespace kube-system

# argocd
helm repo add argo https://argoproj.github.io/argo-helm
helm upgrade --install argocd argo/argo-cd \
  --set configs.params."server\.insecure"=true \
  --set server.service.type=ClusterIP \
  --wait \
  --timeout 5m \
  --create-namespace \
  --namespace argocd

kubectl apply -f {{ playbook_dir }}/bootstrap/gateway.yaml
kubectl apply -f {{ playbook_dir }}/bootstrap/argocd-root-app.yaml
